@model IEnumerable<iilic.Core.Consulta>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Iilic
            <small>texto menor</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> LOCAL</a></li>
            <li class="active">Pacientes</li>
        </ol>
    </section>
    <section class="content">

        <!-- Principal -->
        <div class="box box-solid">
            <div class="box-header">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="form-group col-xs-4">
                                    <a class="btn btn-success btn-lg" href="~/Consulta/CriarConsulta" aria-label="Adicionar">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                </div>

                         

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title"><i class="glyphicon glyphicon-th-list"></i> Consultas</h3>
                                            </div>
                                            <div class="panel-body">
                                                <table class="table table-hover">
                                                    <tr>
                                                        <th>Dia da consulta </th>
                                                        <th>Nome do paciente</th>
                                                        <th>Nome do terapeuta</th>
                                                        <th>Hora da consulta</th>
                                                    </tr>
                                                    @foreach (var consulta in Model)
                                                    {
                                                        <tr>
                                                            <td>@consulta.dia.ToShortDateString()</td>
                                                            <td>@consulta.paciente.nomePaciente</td>
                                                           
                                                            <td>@consulta.terapeuta.nomeMed</td>
                                                            <td>@consulta.hora</td>
                                                            <td><a href="~/Consulta/PagamentoBotao/@consulta.idConsulta">Efetuar pagamento</a> |</td>
                                                           <!-- <form action="~/Consulta/Pagamento" method="get"><button class="btn btn-warning btn-lg" name="idC" value="@consulta.idConsulta" aria-label="Adicionar" type="submit">Efetuar pagamento<span class="glyphicon glyphicon-plus-sign"></span></button></form></td>
                                                               -->
                                                          
                                                    </tr>
                                                    }

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Mudando essa area muda o conteudo do site -->
                                <!-- Mudando essa area muda o conteudo do site -->
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




