
@model iilic.Core.Paciente
<script language="JavaScript" type="text/javascript" src="~/scripts/MascaraValidacao.js"></script>

<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Iilic
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> LOCAL</a></li>
            <li class="active">Editar paciente</li>
        </ol>
    </section>
    <section class="content">

        <!-- Principal -->
        <div class="box box-solid">
            <div class="box-header">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Mudando essa area muda o conteudo do site -->
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="glyphicon glyphicon-pencil"></i> Editar dados do paciente</h3>
                        </div>
                        <form action="Editar" method="Post" name="form1">
                            <div class="form-group">
                                <div class="container-fluid">
                                    <div class="col-lg-12">
                                        <input type="hidden" name="codPaciente" value="@Model.codPaciente" />
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Nome do paciente*</label>
                                        <input class="form-control" type="text" name="nomePaciente" value="@Model.nomePaciente">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Telefone *</label>
                                        <input class="form-control" type="text" name="telefone" value="@Model.telefone" onKeyPress="MascaraTelefone(form1.telefone);" maxlength="15" required>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Email *</label>
                                        <input class="form-control" type="email" name="email" value="@Model.email" required>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Data de nascimento *</label>
                                        <input class="form-control" type="date" name="dataNascPac" value="@Model.dataNascPac.ToString("yyyy-MM-dd")">
                                    </div>

                                    <!--VALIDARCPF-->
                                    <div class="form-group  col-lg-6">
                                        <label>CPF  *</label>
                                        <input class="form-control" type="text" name="cpfPac" value="@Model.cpfPac" onBlur="ValidarCPF(form1.cpfPac);"
                                               onKeyPress="MascaraCPF(form1.cpfPac);" maxlength="14" required>
                                    </div>

                                    <div class="col-lg-12">

                                        <button class="btn btn-success form-group" type="submit">Salvar</button>
                                        <button class="btn btn-danger form-group" type="reset">Limpar</button>
                                    </div>
                                </div>
                            </div>
                        </form>


                        <!-- Mudando essa area muda o conteudo do site -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>






